asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-filter
django-jquery
djangorestframework
filelock
Markdown
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pytz
setuptools
sqlparse
typing_extensions
tzdata
virtualenv
virtualenvwrapper-win