{% extends "base.html" %} {%block title%}
<title>Home Page</title>
{%endblock%} {%block style%}
<link rel="stylesheet" href="static/css/home.css" />
{%endblock%} {%block content%}
<div class="banner-container">
  <div class="paragraph">
    <h4 class="large_dev">WELCOME TO <span>KNOWLEDGE TESTER</span></h4>
    <h4 class="small_dev">WELCOME TO <br /><span>KNOWLEDGE TESTER</span></h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi enim
      impedit natus modi magni expedita in repellendus distinctio odio, itaque
      vitae, nulla consequuntur eaque ea facere quis ullam omnis rem inventore
      accusamus minima illum rerum dolores. Ullam, iste. Officia amet quia ut,
      libero explicabo doloribus accusantium quas perferendis architecto rerum.
    </p>
  </div>

  <div class="bnr-img">
    <img src="static/images/banner.jpg" alt="Not Found" />
  </div>
</div>

<div class="features_container">
  <div class="feature_head">
    <h2>What is the Benifits of Our KNOWLEDGE MAKER ???</h2>
  </div>

  <div class="feature-cobtainer">
    <div class="features">
      <h5>You can get a good preparation</h5>
      <h5>You can get knowledge about different categories</h5>
      <h5>You can give exams</h5>
    </div>
  </div>
</div>
{%endblock%}
